<!DOCTYPE html>
<html id="home" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnGamDock-manager</title>
    <link rel="stylesheet" href="/public/css/manager.css">

</head>

<body>
    <div id="page1" style="display : block;">
        <div class="logo" style="text-align:center">

            <img src="../public/logo.png" alt="Logo"
                style="float: center; width : 500px; height : 200; margin-top: 100px; margin-bottom: 50px;" />
        </div>
        <div class="user-page">
            <div class="form">

                <form class="user-form">
                    <div id='welcome'>
                        <p> 반갑습니다
                        <p>
                            <%if(userInfo.type==="student" ){%>
                                <%=userInfo.name%> 교수님.
                                    <%}else{%>
                                        <%=userInfo.name%> 교수님.
                                            <%}%>
                    </div>
                    <div>
                        <input class="txt" id="subject" type="text" placeholder="과목명을 입력해주세요."
                            style="text-align: center;" />
                        <input class="txt" id="room-number" type="text" placeholder="방 번호를 입력해주세요."
                            style="text-align: center;" />
                        <p id="professor">방 만들기</p>
                        <br>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div id="page2" style="display : none">
        <article style="background-color:#eff0f2">
            <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
            </script>

            <table id="rooms-list" class="visible" style="color:white;"></table>

            <div class="non-visual">
                <!--invisiable in homepage-->
                <div class="modal"></div>
                <div class="pop-up">
                    <div style="margin-top:10%; color:black; font-size:2.5rem; font-weight: bold;">미팅을 종료하시겠습니까?</div>
                    <button class="exit_btn" onclick="exit_yes()">네</button>
                    <button class="exit_btn" onclick="exit_no()">아니오</button>
                </div>
                <div class="wrapper">
                    <!--grid UI-->
                    <div id="par">
                        <h3 style="padding: 5%; color: #ffffff;">참가자 목록</h3>
                        <div id="participants" class="parti_area" style="height:80%; overFlow-y : scroll; text-align: left;">
                        </div>
                    </div>
                    <div id="ale" class="as">
                        <h3 style="padding: 5%; color: #ffffff;">알림창</h3>
                        <div class="ale_area" id="alert_area" style="height:90%; overFlow-y : scroll; text-align: left;">
                            <div></div>
                        </div>
                    </div>
                    <div class=content style="overFlow-y : scroll">
                        <!--remote video-->


                        <div class=videos id=streams></div>
                    </div>
                    <div>
                        <div class="left_nav">
                            <button id="exit" class="basicBtns" onclick="exitRoom()"><i
                                    class="fas fa-sign-out-alt"></i></button>
                            <!--exit peer connection func bnt-->

                        </div>
                        <div id="user_info">
                            <p>구분 : 교수</p>
                            <p>이름 : <%=userInfo.name%></p>
                        </div>
                    </div>
                    <div id=chat style="overflow: hidden;">
                        <div class="massage_area" style="height:87%; overFlow-y : scroll;">
                            <div style="text-align: right;"></div>
                        </div>
                        <div class="text_input_area">
                            <select id="message_to">
                                <option value="notice">공지사항</option>
                                <option value="all" selected>모두에게</option>
                            </select>
                            <input type="text" id="chat_message"
                                onkeyup="if(window.event.keyCode==13){send_chat()}"></input><button id="send_btn"
                                onclick="send_chat()"
                                style="background-image: 
                            radial-gradient(ellipse farthest-corner at 0 140%, #b4e29b 0%, #7dd84c 70%, #a9e08b 70%);">전송</button>
                        </div>
                    </div>

                </div>
                <p class="invisible" id="ejs-name"><%=userInfo.name%></p>
                <p class="invisible" id="ejs-type"><%=userInfo.type%></p>
            </div>
        </article>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="/public/manager.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
</body>

</html>